h1{
    font-weight: bold;

}
h2{
    font-weight: bold;

}
span{
    color: #ffffff;
    background-color: red;
}
body{
    text-align: justify;
    width:650px;
    margin:auto;

}
h3{
    text-align: center;
}
h4{
    text-align: right;
}